/* body {
  background-image: url("../../Images/LoginPage.jpg");
} */

.paperStyle {
  background-color: #86ecab !important;
  /* opacity: 0.8; */
}

/* .buttonStyle {
  background-color: #4ad18f !important;
  color: black !important;
  font-weight: 780 !important;
} */
